@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2>Hi  Reached Application Error Page</h2>

<!--<h2>ControllerName:@Model.ControllerName</h2>
<h2>ErrorMesage:@Model.Exception.Message</h2>-->

